@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #266499;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 28px 8%;
    align-items: center;
    justify-content: space-between;
    
    

    
}

hr{
    color: red;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-weight: bolder;
}
ul li:hover{
    scale: 1.2;
    text-decoration: underline;
    cursor: pointer;
}
nav img{
    width: 70px;
    padding: 0  10px;
}
.btn-reserva{
    display: flex;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn-reserva:hover{
    
    background: rgb(163, 163, 28);
    border: 1px solid green;
    
}
#topao{
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}

#topao video{
    width: 100%;
    height: 100%;
    position: absolute;
}
#topao video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.texto-topao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    position: relative;
}
.texto-topao h1{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.texto-topao p{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.inicial-img{
    width: 100%;
}
.inicial h1{
    font-size: 52px;
}
.inicial p{
    font-size:30px ;
    font-weight: 500;
}
.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1140px;
    min-width: 320px;
    margin: auto;
    margin-top: 100px;
}

.apresentacao h2{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    
}

.apresentacao p{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.sobre{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    min-height: 100vh;
    gap: 15px;
    margin-bottom: -100px;
}


.sobre-primeira-caixa{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    
   
}

.sobre-segunda-caixa{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    
   
}

.sobre-terceira-caixa{
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    
   
}
.imagem{
    width: 100%;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    
    
    
}
.icone{
    
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    width: 70px;
    height: 70px;
    padding: 12px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 0px 0px 20px 30px;
   
}
.titulo h3{
    text-align: center;
}

.titulo p{
    padding: 0px  10px;
    color: rgb(62, 56, 56);
    text-align: center;
}
.botao button{
    background-color: green;
    padding: 12px;
    border-radius: 12px;
    border: none;
    color: white;
}
.botao-final{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-final button{
    display: flex;
    border: none;
    padding: 30px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn-reserva2:hover{
    
    background: rgb(163, 163, 28);
    border: 1px solid green;
    
}


.efeito-sobre-primeira-caixa, .efeito-sobre-segunda-caixa, .efeito-sobre-terceira-caixa, .efeito-apresentacao{
   visibility: hidden;
}

@media screen and (max-width:1253px){
    .sobre{
        
        flex-wrap: wrap;
        justify-content: center;

    .sobre-primeira-caixa{
        width: 80%;
    
    }  

    }
}

@media screen and (max-width:1253px){
    .inicial h1{
        font-size: 22px;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .inicial p{
        font-size: 15px;
    }
}

.fotos-alter{
    width: 100vw;
    height: 70vh;
    display: flex;
    
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: url(https://media.melhoresdestinos.com.br/2019/04/alter-do-chao.jpg) no-repeat;
    background-size:cover;
    /* position: absolute; */
    
   
}
.fotos-alter img{
    
    
    justify-content: center;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    border: solid 5px rgb(255, 255, 255);
    /* position: relative;
    */
}
#galeria{
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #fff;
    font-size: 32px;
    
}
.fotos-alter img:hover{
    scale: 1.1;
    border: none;
}
.localizacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 130px;
    padding-bottom: 50px;
       
}
.localizacao h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais h2{
    color: #fff;
}
.icones{
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 70px;
}
.icones i:hover{
    scale: 1.3;
}

.ultimo-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}
.ultimo-btn h2{
    color: #fff;

}
.ultimo-btn button{
    background-color: green;
    color: #fff;
    font-size: 30px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

footer{
    /* border: solid RED 1px; */
    position: relative;
}

.bg{
    /* border: solid 3px green; */
    position: relative;
}

.texto-final{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.texto-final p{
    position: absolute;
    padding-bottom: 100px;
    padding-right: 100px;
}